<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (10.0)</string>
	<string>M10.0-6748-2</string>
	<string>M10.3.9-7029.9.8-4</string>
	<string>M11.0-7030.0.94-2</string>
	<string>M10.3.9-7029.9.8-4</string>
	<string>M11.0-7030.0.94-2</string>
	<string>G-r1100-11A148</string>
	<string>G-r1100-11A149</string>
	<string>G-r1100-11A148</string>
	<string>G-r1100-11A149</string>
</array>
</plist>
